Repository deepmodeling/abacus-develop, pull requests merged in 2025-06, with the labels that each got.

#6255 add check and update code format in exx
  source/module_esolver/esolver_ks_lcao.cpp
  source/module_esolver/esolver_ks_lcao.h
  source/module_esolver/lcao_before_scf.cpp
  source/module_esolver/lcao_others.cpp
  source/module_hamilt_lcao/hamilt_lcaodft/FORCE_STRESS.cpp
  source/module_hamilt_lcao/hamilt_lcaodft/FORCE_STRESS.h
  source/module_lr/esolver_lrtd_lcao.cpp
  source/module_ri/Exx_LRI.h
  source/module_ri/Exx_LRI.hpp
  source/module_ri/Exx_LRI_interface.h
  source/module_ri/Exx_LRI_interface.hpp
  source/module_ri/Mix_Matrix.cpp
Labels: Bugs, Refactor

#6257 Change 'istate.info' to 'eig.txt', add explanations for the parameter "out_band" (open files eigs1.txt and eigs2.txt). In the 'after_all_runners" subroutine in SDFT, use after_all_runners from ESolver_KS
  docs/advanced/elec_properties/band.md
  docs/advanced/input_files/input-main.md
  docs/quick_start/output.md
  source/module_cell/klist.cpp
  source/module_cell/parallel_kpoints.cpp
  source/module_elecstate/elecstate_print.cpp
  source/module_elecstate/elecstate_print.h
  source/module_elecstate/test/elecstate_print_test.cpp
  source/module_esolver/esolver_ks.cpp
  source/module_esolver/esolver_ks_lcao.cpp
  source/module_esolver/esolver_ks_lcaopw.cpp
  source/module_esolver/esolver_ks_pw.cpp
  source/module_esolver/esolver_sdft_pw.cpp
  source/module_esolver/esolver_sdft_pw.h
  source/module_esolver/lcao_after_scf.cpp
  source/module_esolver/pw_others.cpp
  source/module_hsolver/hsolver_pw.cpp
  source/module_io/nscf_band.cpp
  source/module_io/read_wf2rho_pw.cpp
  source/module_io/test/read_wf2rho_pw_test.cpp
  source/module_io/test/write_istate_info_test.cpp
  source/module_io/write_istate_info.cpp
  tests/01_PW/051_PW_OBOD_MemSaver/eigs1.txt.ref
  tests/01_PW/052_PW_OB/eigs1.txt.ref
  tests/01_PW/057_PW_SO_IW/eig.txt
  tests/01_PW/057_PW_SO_IW/istate.info
  tests/03_NAO_multik/15_NO_KP_OB/eigs1.txt.ref
  tests/integrate/tools/catch_properties.sh
Labels: Input&Output, Refactor, The Absolute Zero, Unit Tests/Integreate Tests

#6260 Feature: Spin-polarized calculations for EXX PW
  source/module_hamilt_pw/hamilt_pwdft/operator_pw/op_exx_pw.cpp
  source/module_io/input_conv.cpp
Labels: EXX and lr-TDDFT, Features Needed, Refactor

#6259 Docs: EXX PW Documents
  docs/advanced/input_files/input-main.md
Labels: Compile & CICD & Docs & Dependencies

#6171 Feature: implement k continuity initialization strategy & kernel
  docs/advanced/input_files/input-main.md
  source/module_base/kernels/cuda/math_kernel_op_vec.cu
  source/module_base/kernels/math_kernel_op.h
  source/module_base/kernels/math_kernel_op_vec.cpp
  source/module_base/kernels/rocm/math_kernel_op_vec.hip.cu
  source/module_base/module_device/device.cpp
  source/module_esolver/esolver.cpp
  source/module_esolver/esolver_ks_pw.cpp
  source/module_hsolver/diago_dav_subspace.cpp
  source/module_hsolver/hsolver_pw.cpp
  source/module_hsolver/hsolver_pw.h
  source/module_hsolver/kernels/bpcg_kernel_op.cpp
  source/module_hsolver/kernels/bpcg_kernel_op.h
  source/module_hsolver/kernels/cuda/bpcg_kernel_op.cu
  source/module_hsolver/kernels/rocm/bpcg_kernel_op.hip.cu
  source/module_hsolver/kernels/rocm/dngvd_op.hip.cu
  source/module_hsolver/test/test_hsolver_pw.cpp
  source/module_hsolver/test/test_hsolver_sdft.cpp
  source/module_io/read_input_item_elec_stru.cpp
  source/module_parameter/input_parameter.h
  source/module_psi/psi_init.cpp
  tests/01_PW/001_PW_UPF100_Al/INPUT
  tests/11_PW_GPU/001_PW_BPCG_GPU/INPUT
Labels: Features Needed, Refactor

#6262 Update the output filenames of H(k), S(k), T(k) and Vxc. In addition, modify the filenames of H(R), S(R), T(R), and Vxc
  docs/advanced/elec_properties/hs_matrix.md
  docs/advanced/input_files/input-main.md
  source/module_esolver/lcao_after_scf.cpp
  source/module_io/cal_r_overlap_R.cpp
  source/module_io/filename.cpp
  source/module_io/write_HS.h
  source/module_io/write_HS.hpp
  source/module_io/write_HS_R.cpp
  source/module_io/write_HS_R.h
  source/module_io/write_HS_sparse.cpp
  source/module_io/write_HS_sparse.h
  source/module_io/write_vxc.hpp
  source/module_io/write_vxc_lip.hpp
  tests/02_NAO_Gamma/006_NO_GO_OH/hks1_nao.txt.ref
  tests/02_NAO_Gamma/006_NO_GO_OH/sks1_nao.txt.ref
  tests/02_NAO_Gamma/007_NO_GO_OXC/vxcs1_nao.txt.ref
  tests/03_NAO_multik/17_NO_KP_OH/hks1k2_nao.txt.ref
  tests/03_NAO_multik/17_NO_KP_OH/sks1k2_nao.txt.ref
  tests/03_NAO_multik/18_NO_KP_OH2/hrs1_nao.csr.ref
  tests/03_NAO_multik/18_NO_KP_OH2/srs1_nao.csr.ref
  tests/03_NAO_multik/19_NO_KP_OH_nscf/rr.csr.ref
  tests/03_NAO_multik/19_NO_KP_OH_nscf/srs1_nao.csr.ref
  tests/03_NAO_multik/19_NO_KP_OH_nscf/trs1_nao.csr.ref
  tests/03_NAO_multik/20_NO_KP_OHS_S4/INPUT
  tests/03_NAO_multik/20_NO_KP_OHS_S4/hks12k2_nao.txt.ref
  tests/03_NAO_multik/20_NO_KP_OHS_S4/hrs1_nao.csr.ref
  tests/03_NAO_multik/20_NO_KP_OHS_S4/rr.csr.ref
  tests/03_NAO_multik/20_NO_KP_OHS_S4/sks12k2_nao.txt.ref
  tests/03_NAO_multik/20_NO_KP_OHS_S4/srs1_nao.csr.ref
  tests/03_NAO_multik/21_NO_KP_OS/dsrxs1.csr.ref
  tests/03_NAO_multik/21_NO_KP_OS/dsrys1.csr.ref
  tests/03_NAO_multik/21_NO_KP_OS/dsrzs1.csr.ref
  tests/03_NAO_multik/22_NO_KP_OTdH/dhrxs1.csr.ref
  tests/03_NAO_multik/22_NO_KP_OTdH/dhrys1.csr.ref
  tests/03_NAO_multik/22_NO_KP_OTdH/dhrzs1.csr.ref
  tests/03_NAO_multik/22_NO_KP_OTdH/trs1_nao.csr.ref
  tests/08_EXX/12_KP_OXC/vxcs1k2_nao.txt.ref
  tests/integrate/tools/catch_properties.sh
Labels: Compile & CICD & Docs & Dependencies, Input&Output, The Absolute Zero

#6273 Test: Add version check workflow for release validation
  .github/workflows/version_check.yml
Labels: Compile & CICD & Docs & Dependencies, Refactor

#6272 Reconstruct the LCAO codes for the parameter 'PARAM.inp.out_interval', enable a unified control of output information every few ionic steps.
  docs/advanced/input_files/input-main.md
  source/Makefile.Objects
  source/module_elecstate/elecstate.h
  source/module_elecstate/elecstate_lcao.h
  source/module_esolver/lcao_after_scf.cpp
  source/module_io/CMakeLists.txt
  source/module_io/berryphase.h
  source/module_io/ctrl_output_lcao.cpp
  source/module_io/ctrl_output_lcao.h
  source/module_io/output_mat_sparse.h
  source/module_io/output_mulliken.h
  source/module_io/restart_exx_csr.hpp
  source/module_io/write_dmr.cpp
  source/module_io/write_dmr.h
  source/module_ri/Exx_LRI_interface.hpp
Labels: Input&Output, Refactor, The Absolute Zero

#6288 add exx nscf file check
  source/module_hamilt_lcao/hamilt_lcaodft/operator_lcao/op_exx_lcao.hpp
  source/module_io/restart_exx_csr.hpp
  source/module_ri/Exx_LRI_interface.h
  source/module_ri/Exx_LRI_interface.hpp
Labels: Bugs, EXX and lr-TDDFT, Refactor

#6287 Refactor: Migrate ML KEDF Descriptor Calculation & Output to module_io
  docs/advanced/input_files/input-main.md
  source/module_base/global_file.cpp
  source/module_esolver/esolver_ks_pw.cpp
  source/module_hamilt_pw/hamilt_ofdft/CMakeLists.txt
  source/module_hamilt_pw/hamilt_ofdft/kedf_ml.cpp
  source/module_hamilt_pw/hamilt_ofdft/kedf_ml.h
  source/module_hamilt_pw/hamilt_ofdft/kedf_ml_pot.cpp
  source/module_hamilt_pw/hamilt_ofdft/ml_data.cpp
  source/module_hamilt_pw/hamilt_ofdft/ml_data_descriptor.cpp
  source/module_io/CMakeLists.txt
  source/module_io/cal_mlkedf_descriptors.cpp
  source/module_io/cal_mlkedf_descriptors.h
  source/module_io/read_set_globalv.cpp
  source/module_io/write_mlkedf_descriptors.cpp
  source/module_io/write_mlkedf_descriptors.h
  source/module_parameter/system_parameter.h
Labels: Input&Output, Refactor, The Absolute Zero, Machine Learning

#6293 add write_libxc_r
  docs/advanced/input_files/input-main.md
  source/Makefile.Objects
  source/module_io/CMakeLists.txt
  source/module_io/read_input_item_output.cpp
  source/module_io/write_libxc_r.cpp
  source/module_io/write_libxc_r.h
  source/module_parameter/input_parameter.h
  source/source_esolver/esolver_fp.cpp
Labels: Input&Output, Refactor

#6303 Combine relax_new with relax_old
  source/Makefile.Objects
  source/module_io/input_conv.cpp
  source/module_io/test/for_testing_input_conv.h
  source/module_relax/CMakeLists.txt
  source/module_relax/bfgs.cpp
  source/module_relax/bfgs.h
  source/module_relax/bfgs_basic.cpp
  source/module_relax/bfgs_basic.h
  source/module_relax/ions_move_basic.cpp
  source/module_relax/ions_move_basic.h
  source/module_relax/ions_move_bfgs.cpp
  source/module_relax/ions_move_bfgs.h
  source/module_relax/ions_move_cg.cpp
  source/module_relax/ions_move_cg.h
  source/module_relax/ions_move_methods.cpp
  source/module_relax/ions_move_methods.h
  source/module_relax/ions_move_sd.cpp
  source/module_relax/ions_move_sd.h
  source/module_relax/lattice_change_basic.cpp
  source/module_relax/lattice_change_basic.h
  source/module_relax/lattice_change_cg.cpp
  source/module_relax/lattice_change_cg.h
  source/module_relax/lattice_change_methods.cpp
  source/module_relax/lattice_change_methods.h
  source/module_relax/lbfgs.cpp
  source/module_relax/lbfgs.h
  source/module_relax/line_search.cpp
  source/module_relax/line_search.h
  source/module_relax/matrix_methods.cpp
  source/module_relax/matrix_methods.h
  source/module_relax/relax_driver.cpp
  source/module_relax/relax_driver.h
  source/module_relax/relax_new/test/CMakeLists.txt
  source/module_relax/relax_nsync.cpp
  source/module_relax/relax_nsync.h
  source/module_relax/relax_sync.cpp
  source/module_relax/relax_sync.h
  source/module_relax/test/CMakeLists.txt
  source/module_relax/test/bfgs_basic_test.cpp
  source/module_relax/test/bfgs_test.cpp
  source/module_relax/test/for_test.h
  source/module_relax/test/ions_move_basic_test.cpp
  source/module_relax/test/ions_move_bfgs_test.cpp
  source/module_relax/test/ions_move_cg_test.cpp
  source/module_relax/test/ions_move_methods_test.cpp
  source/module_relax/test/ions_move_sd_test.cpp
  source/module_relax/test/lattice_change_basic_test.cpp
  source/module_relax/test/lattice_change_cg_test.cpp
  source/module_relax/test/lattice_change_methods_test.cpp
  source/module_relax/test/line_search_test.cpp
  source/module_relax/test/relax_test.cpp
  source/module_relax/test/relax_test.h
  source/module_relax/test/support/energy.txt
  source/module_relax/test/support/force.txt
  source/module_relax/test/support/stress.txt
Labels: Refactor, The Absolute Zero

#6313 Refactor: change the name of keyword `force_thr_ev2` to `force_zero_out` for clarity
  docs/advanced/input_files/input-main.md
  source/module_io/input_conv.cpp
  source/module_io/read_input_item_relax.cpp
  source/module_io/test/read_input_ptest.cpp
  source/module_io/test/support/INPUT
  source/module_parameter/input_parameter.h
Labels: Compile & CICD & Docs & Dependencies, Input&Output, Refactor

#6314 print out geometry information during bfgs_trad relax
  source/module_relax/bfgs.cpp
Labels: Bugs, Refactor

#6317 remove deprecated INPUT exx parameters
  docs/advanced/input_files/input-main.md
  source/module_hamilt_general/module_xc/exx_info.h
  source/module_hamilt_general/module_xc/xc_functional_libxc.cpp
  source/module_io/input_conv.cpp
  source/module_io/read_input.cpp
  source/module_io/read_input_item_exx_dftu.cpp
  source/module_io/test/read_input_ptest.cpp
  source/module_io/test/support/INPUT
  source/module_io/test_serial/read_input_item_test.cpp
  source/module_parameter/input_parameter.h
  source/module_rdmft/rdmft.h
  source/module_rdmft/rdmft_tools.h
  source/module_ri/Exx_LRI.h
  source/module_ri/Exx_LRI.hpp
  source/module_ri/LRI_CV.h
  source/module_ri/LRI_CV.hpp
  source/module_ri/LRI_CV_Tools.h
  source/module_ri/LRI_CV_Tools.hpp
  source/module_ri/RPA_LRI.h
  source/module_ri/RPA_LRI.hpp
  source/module_ri/conv_coulomb_pot_k.h
  source/source_main/driver.cpp
  tests/08_EXX/07_KP_CR_HSE/INPUT
  tests/08_EXX/08_KP_HSE_symm/INPUT
  tests/08_EXX/09_KP_HSE_comp/INPUT
  tests/08_EXX/10_KP_HF/INPUT
  tests/08_EXX/11_KP_PBE0/INPUT
  tests/08_EXX/12_KP_OXC/INPUT
Labels: EXX and lr-TDDFT, Refactor

#6321 Fix: reinterpret_cast bug for c10::complex<double>.
  source/module_hamilt_lcao/module_deepks/deepks_check.cpp
  source/module_hamilt_lcao/module_deepks/deepks_vdpre.cpp
Labels: Bugs, Machine Learning

#6318 1. change Exx_Info_Global::coulomb_param from unordered_map to map (Do not recommend using unordered_map, which has defects in C++11)
  source/module_hamilt_general/module_xc/exx_info.h
  source/module_io/input_conv.cpp
  source/module_rdmft/rdmft_pot.cpp
  source/module_ri/Exx_LRI.hpp
  source/module_ri/Exx_LRI_interface.hpp
  source/module_ri/RI_Util.h
  source/module_ri/RI_Util.hpp
  source/module_ri/conv_coulomb_pot_k.cpp
  source/module_ri/conv_coulomb_pot_k.h
  source/module_ri/conv_coulomb_pot_k.hpp
  tests/02_NAO_Gamma/002_NO_GO_AF/threshold
Labels: EXX and lr-TDDFT, Useful Information, Refactor

#6316 change INPUT exx_ for linear combination of coulomb_param
  docs/advanced/input_files/input-main.md
Labels: Compile & CICD & Docs & Dependencies, EXX and lr-TDDFT, Refactor

#6325 Add deepks_out_freq_elec for outputting deepks labels during electronic steps
  docs/advanced/input_files/input-main.md
  source/module_hamilt_lcao/module_deepks/LCAO_deepks_interface.cpp
  source/module_hamilt_lcao/module_deepks/LCAO_deepks_interface.h
  source/module_hamilt_lcao/module_deepks/LCAO_deepks_io.cpp
  source/module_hamilt_lcao/module_deepks/LCAO_deepks_io.h
  source/module_hamilt_lcao/module_deepks/deepks_basic.cpp
  source/module_io/ctrl_output_lcao.cpp
  source/module_io/read_input_item_deepks.cpp
  source/module_io/read_set_globalv.cpp
  source/module_parameter/input_parameter.h
  source/module_parameter/system_parameter.h
  source/source_base/global_file.cpp
  source/source_esolver/esolver_ks_lcao.cpp
  tests/09_DeePKS/103_NO_GO_deepks_out_freq_elec/INPUT
  tests/09_DeePKS/103_NO_GO_deepks_out_freq_elec/KPT
  tests/09_DeePKS/103_NO_GO_deepks_out_freq_elec/README
  tests/09_DeePKS/103_NO_GO_deepks_out_freq_elec/STRU
  tests/09_DeePKS/103_NO_GO_deepks_out_freq_elec/result.ref
  tests/09_DeePKS/103_NO_KP_deepks_out_freq_elec/INPUT
  tests/09_DeePKS/103_NO_KP_deepks_out_freq_elec/KPT
  tests/09_DeePKS/103_NO_KP_deepks_out_freq_elec/README
  tests/09_DeePKS/103_NO_KP_deepks_out_freq_elec/STRU
  tests/09_DeePKS/103_NO_KP_deepks_out_freq_elec/result.ref
  tests/09_DeePKS/CASES_CPU.txt
  tests/integrate/Autotest.sh
  tests/integrate/tools/catch_deepks_properties.sh
Labels: Compile & CICD & Docs & Dependencies, Input&Output, Features Needed, Refactor, Machine Learning

#6329 Refactor: release the limit (<150) on length of comment lines of INPUT
  source/module_io/read_input.cpp
Labels: Input&Output, Refactor

#6330 Refactor: clean Davidson code, remove deprecated overlap matrix scc related code
  source/source_hsolver/diago_david.cpp
  source/source_hsolver/diago_david.h
  source/source_hsolver/test/hsolver_pw_sup.h
Labels: Refactor, Diago

#6337 Fix: Fix Compile Error on CUDA Version > 12.9
  CMakeLists.txt
  source/source_hsolver/kernels/cuda/diag_cusolver.cuh
Labels: GPU & DCU & HPC, Compile & CICD & Docs & Dependencies

#6289 add exx nscf file check
  source/module_hamilt_lcao/hamilt_lcaodft/operator_lcao/op_exx_lcao.hpp
  source/module_io/restart_exx_csr.hpp
  source/module_ri/ABFs_Construct-PCA.cpp
  source/module_ri/ABFs_Construct-PCA.h
  source/module_ri/Exx_LRI_interface.h
  source/module_ri/Exx_LRI_interface.hpp
  source/module_ri/exx_abfs-abfs_index.cpp
  source/module_ri/exx_abfs-abfs_index.h
  source/module_ri/exx_abfs-construct_orbs.h
  source/module_ri/exx_abfs-io.cpp
  source/module_ri/exx_abfs-io.h
  source/module_ri/exx_abfs-jle.cpp
  source/module_ri/exx_abfs-jle.h
  source/module_ri/exx_abfs.h
  source/module_ri/exx_opt_orb.cpp
  source/module_ri/exx_opt_orb.h
Labels: Refactor, Long-Time Support (LTS)
