Repository deepmodeling/abacus-develop, pull requests merged in 2025-10, with the labels that each got.

#6551 Fix the errors related to the "atomicAdd" function when building with libtorch-gpu.
  source/source_lcao/module_gint/temp_gint/kernel/dgemm_vbatch.cu
  source/source_lcao/module_gint/temp_gint/kernel/gemm_nn_vbatch.cuh
  source/source_lcao/module_gint/temp_gint/kernel/gemm_tn_vbatch.cuh
  source/source_lcao/module_gint/temp_gint/kernel/phi_operator_kernel.cu
  source/source_pw/module_pwdft/kernels/cuda/exx_cal_energy_op.cu
Labels: GPU & DCU & HPC, Refactor

#6560 Performance: Optimizing EXX PW memory usage by calculating potential on the fly
  source/source_pw/module_pwdft/kernels/cuda/mul_potential_op.cu
  source/source_pw/module_pwdft/kernels/mul_potential_op.cpp
  source/source_pw/module_pwdft/operator_pw/exx_pw_pot.cpp
  source/source_pw/module_pwdft/operator_pw/op_exx_pw.cpp
  source/source_pw/module_pwdft/operator_pw/op_exx_pw.h
  source/source_pw/module_pwdft/stress_func_exx.cpp
Labels: EXX and lr-TDDFT, Refactor

#6564 Fix: EXX PW GPU
  source/source_pw/module_pwdft/operator_pw/exx_pw_pot.cpp
Labels: GPU & DCU & HPC, EXX and lr-TDDFT
